.user__container {
    display: flex;
    justify-content: center;
    padding-top: 10rem;
}

.user__infoContainer {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    width: calc(100% - 3rem);
    height: auto;
    padding: 2rem;
    background-color: aliceblue;
    border-radius: 1rem;
    margin: 0 auto;
}

.user__infoContainer > p  {
    margin: 1.2rem;
    font-size: 2rem;
    color: cornflowerblue;
    font-weight: 600;
}

.user__infoContainer > p > span {
    font-weight: 400;
}

.user__editButton {
    font-size: 2em;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 5rem;
    background-color:cornflowerblue;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}